.contact h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: auto;
  color: #3c879e;
}

.contact-mid h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.contact-mid {
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

.location span{
  color: white;
  margin-left: 2%;
  font-size: medium;
}

.location span span{
  margin-left: 6%;
}

.phone span{
  color: white;
  margin-left: 2%;
  font-size: medium;
}

.mail span{
  color: white;
  margin-left: 2%;
  font-size: medium;
}