.contact h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: auto;
  color: #3c879e;
}

.contact-mid h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
  color: #3c879e;
}

.contact-mid {
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

.location span{
  color: #3c879e;
  margin-left: 2%;
  font-size: medium;
}

.location span span{
  margin-left: 6%;
}

.phone span{
  color: #3c879e;
  margin-left: 2%;
  font-size: medium;
}

.mail span{
  color: #3c879e;
  margin-left: 2%;
  font-size: medium;
}

.gmap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.sendButton{
  background-color: #3c879e !important;
  color: #fff !important;
}

.sendButton:hover{
  background-color: #fff !important;
  color: #3c879e !important;
  box-shadow: 0 0 2px 2px #3c879e !important;

}