.title h2{
    color: #295d6d;
}

.custom-card-content{
    background-color: #fff !important;
}

.custom-card-header{
    color: #295d6d !important;
    font-size: 1.1rem !important;
}

.custom-card-desc{
    color: #295d6d !important;
    font-size: 1.1rem !important;
}

